wcf_66aa503c963c/WCFWebApi/test/cit/unit/Microsoft.ApplicationServer.Http.Test.Unit/Microsoft/ApplicationServer/Http/TestClient/TestData/contosoBooks.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.contoso.com/books" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="bookstore">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="book">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="title" >
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="The Autobiography of Benjamin Franklin" />
                    <xs:enumeration value="The Confidence Man" />
                    <xs:enumeration value="The Gorgias" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>              
              <xs:element name="author">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="name" type="xs:string" />
                    <xs:element minOccurs="0" name="first-name" type="xs:string" />
                    <xs:element minOccurs="0" name="last-name" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="price" type="xs:decimal" />
            </xs:sequence>
            <xs:attribute name="genre" use="required" >
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:enumeration value="autobiography" />
                  <xs:enumeration value="novel" />
                  <xs:enumeration value="philosophy" />
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="publicationdate" type="xs:date" use="required" />
            <xs:attribute name="ISBN" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>

